* {
    margin: 0;
    padding: 0;
}

.news-card {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4px 16px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 2px;
    width:400px;
    margin-left: 500px;
    
}

img{
    width: 400px;
    margin-bottom: 200px;
    bottom: 0;
    margin: auto;
    cursor: zoom-out;
}

a {
    text-decoration: none;
    margin-top: 20px;
    margin-left: -200px;
    padding: 4px 12px;
    background-color:#4F7942;
    border-radius: 15px;
    color: white;
}
h2{
    margin-top: 10px;
}

p{
    font-size: 20px; 
    margin-right: 60px;
}

.circle {
    font-size: 50px;
    line-height: 10px;
    align-items: center;
    justify-self: auto;
}